def __init__(
        self,
        {{ parent.name }}: {{ parent.type }},
        loading_package: bool = False,
        {%- for name, var in variables.items() %}
        {{ name }}: {{ var.type }} = {{ var.default }},
        {%- endfor %}
        filename: Optional[PathLike] = None,
        pname: Optional[str] = None,
        **kwargs,
    ):
        super().__init__(
            {{ parent.name }}, "{{ subcomponent }}", filename, pname, loading_package, **kwargs
        )

        # set up variables
        {%- for name, var in variables.items() if not var.set_self %}
        self.{{ name }} = self.build_mfdata("{{ name }}", {{ name }})
        {%- endfor %}
        {%- for name, var in variables.items() if var.set_self %}
        self.{{ name }} = {{ name }}
        {%- endfor %}
        {%- if component == "exg" %}
        simulation.register_exchange_file(self)
        {% endif -%}
        self._init_complete = True