{% for var in variables.values() recursive %}
    {% if loop.depth > 1 %}* {% endif %}{{ var.name }} : {{ var.type }}
{%- if var.description is defined and not var.is_choice %}
{{ var.description|wordwrap|indent(4 + (loop.depth * 4), first=True) }}
{%- endif %}
{%- if var.children is defined -%}
{{ loop(var.children.values())|indent(4) }}
{%- endif %}
{% endfor %}