matplotlib>=1.4.0
numpy>=1.15.0

# testing
pylint
flake8
black
coverage
pytest
pytest-xdist
pytest-cov

# optional
appdirs
python-dateutil>=2.4.0
affine
scipy
pandas
netcdf4
pyshp>=2.0.0
descartes
pyproj
shapely
geos
geojson
vtk

# external dependencies
requests

# MODFLOW API dependencies
bmipy

# for golke installer
gohlkegrabber
attrs
certifi
click>=4.0
cligj>=0.5
snuggs>=1.4.1
click-plugins
setuptools
