matplotlib>=1.4.0
numpy>=1.15.0

# testing
pylint
flake8
black
coverage
pytest
pytest-xdist
pytest-cov

# optional
appdirs
python-dateutil>=2.4.0
affine
scipy
pandas
netcdf4
pyshp>=2.0.0
descartes
pyproj
shapely
geos
geojson
vtk

# external dependencies
requests

# MODFLOW API dependencies
bmipy

# golke installer
gohlkegrabber

# dependencies for rasterio and Fiona
attrs>=17
certifi
click>=4.0
cligj>=0.5
snuggs>=1.4.1
click-plugins>=1.0
six>=1.7
munch
setuptools
