def __init__(
        self,
        {%- for name, var in variables.items() if var.init_param %}
        {%- if var.default is defined %}
        {{ name }}: {{ var._type }} = {{ var.default }},
        {%- else -%}
        {{ name }}: {{ var._type }},
        {% endif -%}
        {%- endfor %}
        **kwargs,
    ):
{% if base == "MFSimulationBase" %}
        super().__init__(
            {%- for name, var in variables.items() if var.init_super %}
            {{ name }}={{ name }},
            {%- endfor %}
            **kwargs
        )
        {%- for name, var in variables.items() %}
        {%- if var.block == "options" and var.init_build %}
        self.name_file.{{ name }}.set_data({{ name }})
        self.{{ name }} = self.name_file.{{ name }}
        {% endif -%}
        {%- if var.subpkg is defined %}
        self.{{ var.subpkg.param }} = self._create_package(
            "{{ var.subpkg.abbr }}",
            {{ var.subpkg.param }}
        )
        {% endif -%}
        {% endfor -%}
{% elif base == "MFModel" %}
        super().__init__(
            model_type="{{ name.l }}6",
            {%- for name, var in variables.items() if var.init_super %}
            {{ name }}={{ name }},
            {%- endfor %}
            **kwargs,
        )
        {%- for name, var in variables.items() %}
        {%- if var.block == "options" and var.init_build %}
        self.name_file.{{ name }}.set_data({{ name }})
        self.{{ name }} = self.name_file.{{ name }}
        {% endif -%}
        {%- endfor %}
{% elif base == "MFPackage" %}
        super().__init__(
            {% if parent == "MFSimulation" -%}
            simulation,
            {% elif parent == "MFModel" -%}
            model,
            {% endif -%}
            package_type="{{ name.r }}",
            {%- for name, var in variables.items() if var.init_super %}
            {% if "parent" in name -%}
            parent={{ name }},
            {%- else -%}
            {{ name|replace("_package", "") }}={{ name }},
            {%- endif -%}
            {%- endfor %}
            **kwargs
        )
        {% if name.l == "exg" -%}
        simulation.register_exchange_file(self)
        {%- endif %}
        {% for n, var in variables.items() -%}
        {%- if var.init_assign -%}
        self.{{ n }} = {{ n }}
        {% endif -%}
        {%- if var.subpkg is defined -%}
        self._{{ n }} = self.build_mfdata("{{ n }}", None)
        {%- if name.r != "nam" %}
        self._{{ var.subpkg.abbr }}_package = self.build_child_package(
            "{{ var.subpkg.abbr }}",
            {{ var.subpkg.val }},
            "{{ var.subpkg.param }}",
            self.{{ var.subpkg.key }}
        )
        {%- endif %}
        {% elif var.init_build -%}
        self.{{ n }} = self.build_mfdata("{{ n }}", {{ n }})
        {% endif -%}
        {%- endfor -%}
        self._init_complete = True
{% endif %}