name: flopy continuous integration

on:
  schedule:
    - cron: '0 8 * * *' # run at 8 AM UTC (12 am PST)
  push:
    branches: [master, develop]
  pull_request:
    branches: [master, develop]

jobs:

  flopy_lint:
    name: linting
    runs-on: ubuntu-latest
    strategy:
      fail-fast: false

    if: github.repository_owner == 'modflowpy'
    steps:
    # check out repo
    - name: Checkout flopy repo
      uses: actions/checkout@v2.3.4

    # Standard python fails on windows without GDAL installation. Using
    # standard python here since only linting on linux.
    # Use standard bash shell with standard python
    - name: Setup Python 3.8
      uses: actions/setup-python@v2
      with:
        python-version: 3.8

    - name: Print python version
      shell: bash
      run: |
        python --version

    - name: Install Python 3.8 packages
      shell: bash
      run: |
        python -m pip install --upgrade pip
        pip install -r etc/requirements.pip.txt

    - name: Run black
      shell: bash
      run: |
        echo "if black check fails run"
        echo "  black --line-length 79 ./flopy"
        echo "and then commit the changes."
        black --check --line-length 79 ./flopy

    - name: Run flake8
      shell: bash
      run: |
        flake8 --count --show-source --exit-zero ./flopy

    - name: Run pylint
      shell: bash
      run: |
        pylint --jobs=2 --errors-only --exit-zero ./flopy

  flopyCI:
    name: autotests
    needs: flopy_lint
    runs-on: ${{ matrix.os }}
    strategy:
      fail-fast: false
      matrix:
        os: [ubuntu-latest, macos-latest, windows-latest]
        python-version: [3.8, 3.7, 3.6]
        run-type: [std]
        test-pth: [""]
        include:
          - os: ubuntu-latest
            python-version: 3.8
            run-type: nb
            test-path: autotest_notebooks.py
          - os: ubuntu-latest
            python-version: 3.8
            run-type: script
            test-path: autotest_scripts.py
        exclude:
          - os: macos-latest
            python-version: 3.6

    steps:
    # check out repo
    - name: Checkout flopy repo
      uses:  actions/checkout@v2.3.4

    - name: Get branch name
      uses: nelonoel/branch-name@v1.0.1

    - name: Cache Miniconda
      uses: actions/cache@v2.1.0
      env:
        # Increase this value to reset cache if environment.yml has changed
        CACHE_NUMBER: 0
      with:
        path: ~/conda_pkgs_dir
        key: ${{ runner.os }}-${{ matrix.python-version }}-${{ matrix.run-type }}-${{ env.CACHE_NUMBER }}-${{ hashFiles('etc/environment.yml') }}

    # Standard python fails on windows without GDAL installation
    # Using custom bash shell ("shell: bash -l {0}") with Miniconda
    - name: Setup Miniconda
      uses: conda-incubator/setup-miniconda@v2.0.0
      with:
        python-version: ${{ matrix.python-version }}
        mamba-version: "*"
        channels: conda-forge
        auto-update-conda: true
        activate-environment: flopy
        use-only-tar-bz2: true

    - name: Add jupyter and jupytext to notebooks run
      if: matrix.run-type == 'nb'
      shell: bash -l {0}
      run: |
        mamba install --name flopy jupyter jupytext

    - name: Add packages to flopy environment using mamba or conda
      shell: bash -l {0}
      run: |
        if [ "$RUNNER_OS" == "Windows" ]; then
          conda env update --name flopy --file etc/environment.yml
        else
          mamba env update --name flopy --file etc/environment.yml
        fi

    - name: Install pymake, xmipy, and flopy
      shell: bash -l {0}
      run: |
        pip install https://github.com/modflowpy/pymake/zipball/master
        pip install xmipy
        pip install .

    - name: Setup symbolic link to gfortran on Linux
      if: runner.os == 'Linux'
      run: |
        sudo ln -fs /usr/bin/gfortran-10 /usr/local/bin/gfortran
        sudo ln -fs /usr/bin/gcc-10 /usr/local/bin/gcc
        sudo ln -fs /usr/bin/g++-10 /usr/local/bin/g++

    - name: Setup symbolic link to gfortran on macOS
      if: runner.os == 'macOS'
      shell: bash
      run: |
        sudo ln -fs /usr/local/bin/gfortran-10 /usr/local/bin/gfortran
        sudo ln -fs /usr/local/bin/gcc-10 /usr/local/bin/gcc
        sudo ln -fs /usr/local/bin/g++-10 /usr/local/bin/g++

    - name: Print GNU compiler versions
      run: |
        gfortran --version
        gcc --version
        g++ --version

    - name: Download executables needed for tests
      shell: bash -l {0}
      run: |
        cd autotest
        python get_exes.py
        cd ..

    - name: Add executables directory to path
      shell: bash
      run: |
        echo "$HOME/.local/bin" >> $GITHUB_PATH

    - name: Run nosetests
      shell: bash -l {0}
      run: |
        coverage run -m nose -v --with-id --with-timer \
        --with-coverage --cover-package=flopy --cover-xml \
        --cover-xml-file=../coverage.xml -w ./autotest ${{ matrix.test-path }}

    - name: Upload coverage to Codecov
      uses: codecov/codecov-action@v1.0.15
      with:
        file: ./coverage.xml
