{%- for v in vars.values() recursive %}
    {% if loop.depth > 1 %}* {% endif %}{{ v.name }}{% if v.meta is defined and v.meta.type is defined %} : {{ v.meta.type }}{% endif %}
{%- if v.description is defined and v.description is not none %}
{{ v.description|wordwrap|indent(4 + (loop.depth * 4), first=True) }}
{%- endif %}
{%- if v.children is defined and v.children is not none -%}
{{ loop(v.children.values())|indent(4) }}
{%- endif %}
{% endfor -%}