def __init__(
        self,
        {%- for var in vars.values() if var.init_param %}
        {%- if var.default is defined %}
        {{ var.name }}={{ var.default }},
        {%- else %}
        {{ var.name }},
        {%- endif -%}
        {%- endfor %}
        **kwargs,
    ):
        {{ init_body }}
        {% if base == "MFPackage" %}
        self._init_complete = True
        {% endif %}