{% macro init_params(vars, alias=false, skip=none) %}
{% for name, var in vars.items() if name not in skip %}
{% set v = var|untag %}
{% set n = (name if alias else v.name)|safe_name %}
{{ n }}{% if v.default is defined %}={{ v.default|value }}{% endif %},
{% endfor %}
{% endmacro %}

{% macro docstrings(vars, recurse=true) %}
{% for var in vars.values() recursive %}
{% set v = var|untag %}
{% set n = v.name|safe_name|escape_trailing_underscore %}
{% if loop.depth > 1 %}* {% endif %}{{ n }} : {{ v|type }}
{% if v.description is defined and v.description is not none %}
{{ v.description|clean|math|wordwrap|indent(loop.depth * 4, first=true) }}
{% endif %}
{% if recurse and v.children is defined and v.children is not none %}
{% if v.type == "list" and v.children|length == 1 and (v.children.values()|first).type in ["record", "union"] %}
{{ loop((v.children.values()|first).children.values())|indent(loop.depth * 4, first=true) }} 
{% else %}
{{ loop(v.children.values())|indent(loop.depth * 4, first=true) }}
{% endif %}
{% endif %}
{% endfor %}
{% endmacro %}
