{% macro init_vars(vars, alias=false, indent=0, skip=none) %}
{%- for name, var in vars.items() if name not in skip %}
{% set v = var|untag -%}
{% set n = (name if alias else v.name)|safe_name -%}
{{ ""|indent(indent, first=true) }}{{ n }}{%- if v.default is defined %}={{ v.default|value }}{%- endif -%},
{%- endfor %}
{% endmacro %}

{% macro vars_docs(vars, indent=0) %}
{%- for var in vars.values() recursive %}
{% set v = var|untag -%}
{% set n = v.name|safe_name|escape_trailing_underscore -%}
{{ ""|indent(indent, first=true) }}{% if loop.depth > 1 %}* {% endif %}{{ n }} : {{ v|type }}
{%- if v.description is defined and v.description is not none %}
{{ v.description|wordwrap|indent(indent + (loop.depth * 4), first=true) }}
{%- endif %}
{%- if v.children is defined and v.children is not none -%}
{{ loop(v.children.values())|indent(indent, first=true) }}
{%- endif %}
{% endfor -%}
{% endmacro %}