{% macro init_vars(vars, alias=false, indent=0, skip=none) %}
{%- for n, v in vars.items() if n not in skip %}
{{ ""|indent(indent, first=true) }}{% if alias %}{{ n|nokw }}{% else %}{{ v.name|nokw }}{% endif %}{%- if v.default is defined %}={{ v.default|value }}{%- endif -%},
{%- endfor %}
{% endmacro %}

{% macro vars_docs(vars, indent=0) %}
{%- for v in vars.values() recursive %}
{{ ""|indent(indent, first=true) }}{% if loop.depth > 1 %}* {% endif %}{{ v.name|nokw|escape_trailing }} : {{ v|type }}
{%- if v.description is defined and v.description is not none %}
{{ v.description|wordwrap|indent(indent + (loop.depth * 4), first=true) }}
{%- endif %}
{%- if v.children is defined and v.children is not none -%}
{{ loop(v.children.values())|indent(indent, first=true) }}
{%- endif %}
{% endfor -%}
{% endmacro %}